@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #efefef;
}

.content {
	text-align: center;
	height: 100vh;
}

