@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

body {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    background-color: #1DA1F2;
}

main {
	text-align: center;
	height: 100vh;
}

header {
	margin-top: 50px;
}

.quote {
	padding: 20px;
}

.author {
	padding: 20px;
}

button h1{
	font-size: 16px;
}

button, 
.tweet {
	display: inline-block;
	width: 160px;
	height: 70px;
	color: #1DA1F2;
	font-size: 16px;
	background-color: white;
	border: 1px solid white;
	border-radius: 35px;
	margin: 10px;
	transition: .3s ease;
	cursor: pointer;
}

button:hover,
.tweet:hover {
	color: white;
	background-color: #1DA1F2;
}

.tweet {
	line-height: 70px;
}
